/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
.wedding {
		height: 900px;
		width: 100%;
		position: relative;

		.logo {
			width: 45%;
			max-width: 800px;
			position: absolute;
			bottom: 30px;
			left: 30px;
		}
 .wedInfo {
	 position: absolute;
	 top: 0px;
	 right: 0px;
	 width: 60%;
	 height:900px;
	 max-width: 500px;

 }
}

.rsvpSec {

	margin: -146px 0px -70px 0px;
	.rsvp {margin:-230px -190px -270px 0px;}
	.music {margin: -190px 0px -35px 0px;}

}

@media only screen and (min-width: 1310px) {
	.rsvpSec {
		.rsvp {
			margin: -210px -300px 0 0;
		}
	}

}
