/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheetF
and will be used across all viewports.

******************************************************************/


/*********************
GENERAL STYLES
*********************/

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	overflow-x: hidden;
	font-family: "Open Sans", sans-serif;
		background-color: $lightPink;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body::before {
	/* never visible - this is used in jQuery to check the current MQ */
	content: 'mobile';
	display: none;
}
@media only screen and (min-width: 1050px) {
	body::before {
		/* never visible - this is used in jQuery to check the current MQ */
		content: 'desktop';
	}
}
a {outline: 0 !important;}
a:visited {outline: 0 !important;}


* {
	/* Calculation */
	--diff: calc(var(--max-size) - var(--min-size));
	--responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420)));
	/* Ranges from 421px to 1199px */
}
p {
	--max-size: 18;
	--min-size: 16;
	font-size: var(--responsive);
	margin: 0px;
	font-weight: 400;
	color: $navy;
	font-family: 'Raleway', sans-serif;
}
h1 {
	margin: 20px 0px 5px 0px;
	font-weight: bold;
	letter-spacing: 2px;
	color: $navy;
	--max-size: 30;
	--min-size: 26;
	font-size: var(--responsive);
	font-family: 'Abril Fatface', cursive;
}
h2 {
	margin: 0px;
	font-weight: 400;
	color: $red;
	--max-size: 22;
	--min-size: 20;
	color: $navy;
	font-size: var(--responsive);
	font-family: 'Raleway', sans-serif;
}
h3 {
	font-weight: 800;
	letter-spacing: 1px;
	color: $pink;
	border-bottom: 3px solid $pink;
	width: fit-content;
	text-align: center;
	margin: 20px auto;
	padding-bottom: 7px;
	text-transform: uppercase;
	--max-size: 17;
	--min-size: 12;
	font-size: var(--responsive);
	font-family: 'Raleway', sans-serif;
}
h4 {
	margin: 0px;
	font-weight: 400;
	color: $red;
	text-align: center;
	--max-size: 18;
	--min-size: 16;
	color: $navy;
	font-size: var(--responsive);
	font-family: 'Raleway', sans-serif;
}

h5 {
	font-weight: bold;
	color: white;
	margin: 0px;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	--max-size: 16;
	--min-size: 13;
	font-size: var(--responsive);
	font-family: 'Raleway', sans-serif;
}

h6 {
	font-weight: bold;
	color: white;
	margin: 0px;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	--max-size: 10;
	--min-size: 8;
	font-size: var(--responsive);
	font-family: "Open Sans", sans-serif;
}

/************************************************************************************
*************************************************************************************

							      	HOME PAGE

************************************************************************************
************************************************************************************/



.wedding {
		width: 100%;
		@include backimg();
		position: relative;
		z-index: 5;
		&:before {
		 content: '';
		 position: absolute;
		 top: 0;
		 right: 0;
		 bottom: 0;
		 left: 0;
		 background-image: linear-gradient(to top right,rgba(36, 38, 59, 1),rgba(36, 38, 59, 0));
		 opacity: .6;
	 }
		.logo {
			width: 75%;
			padding: 250px 0px 30px 30px;
			svg {
				width: 100%;
			}
		}
 .wedInfo {
	 width: 100%;
	 background-color: $tan;
	 margin: auto;
	 text-align: center;
	 padding: 40px;
	 position: relative;
	 img {
		 width: 80%;
			margin: auto;
			max-width: 370px;
	 }
	 .location {
		 margin-top: 50px;
		 .locButt {
			 @include space-wrap();

			 a {
				 width: 48%;
				 text-decoration: none;
				 margin-top: 20px;
		 }
	 }}
 }
}


.button {
	border: 3px solid $pink !important;
	background-color: transparent !important;
	padding: 10px !important;
	width: 100% !important;
	color: $pink !important;
	font-weight: 800 !important;
	font-size: 12px !important;
	letter-spacing: 1px !important;
	text-transform: uppercase !important;
	font-family: 'Raleway', sans-serif !important;
	&:hover {
	 background-color: $lightPink !important;
	 @include transition(.3s);
	 color: $tan !important;
	 p {color: $tan !important;}
	}
	p {
		color: $pink ;
		font-weight: 800;
		font-size: 12px;
		letter-spacing: 1px;
	}}

.nf-response-msg {
	margin-bottom: 70px;
	text-align: center !important;
}

.nf-form-fields-required {
	display: none;
}

.ninja-forms-field.nf-element {
	padding: 10px;
	border: 2px solid lightgrey;
	margin:-10px;
	border-radius: 0px !important;
	background-color: $tan;}

.rsvpSec {
	width: 100%;
	position: relative;
	padding-top: 80px;
	overflow-x: hidden !important;
	@include space-center();
	@include align-items(center);
	margin: -76px 0px -60px 0px;
	.rsvp {
		position: relative;
		z-index: 20;
		width: 600px;
		margin: -230px -300px -270px -120px;
		.rsvpForm {
			position: relative;
			top: 390px;
      left: 96px;
			width: 250px;
			h1 {
				text-align: center;
				margin: 0px 0px 20px -20px;
			}
		}
		img {
			width: 600px;
			height: auto;
		}
	}
	.music {
		position: relative;
		z-index: 10;
		margin: -190px 0px -35px -30px;
		.musicForm {
			position: relative;
			top: 507px;
      left: 350px;
			width: 250px;
			h1 {
				text-align: center;
				margin: 0px 0px 20px -20px;
			}
		}
		img {
			width: 900px;
			height:auto;
		}
	}
}


.reg {
	width: 100%;
	background-color: $lightNavy;
	padding: 100px 30px;
	.regGrid {
	@include wrapper;
	@include space-wrap();
	.regCard {
		background-color: $navy;
		width: 98%;
		margin: 2%;
		padding: 20px 0px;
		&:hover {
		 background-color: $darkNavy;
		 @include transition(.3s);
		 h1 {color: $pink;}
	 }
		a {
			text-decoration: none;
		h1 {
			color: $lightNavy;
			text-align: center;
			margin:0px;
		}
	}
	}
	}
}

.photos {
	width: 100%;
	background-color: $navy;
	padding: 100px 30px;
	.imgGallery {
		@include wrapper;
	@include space-wrap();
	width: 100%;
	.galImg {
		width: 98%;
		margin: 2%;
		height: 350px;
	}
	}
}




/*********************

    404
*********************/

.mWrap {
	#missing {
		display: block;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
		margin: 0 auto;
		text-align: center;
		min-height: 600px;
		width: 80%;
		max-width: 404px;
		padding-top: 10%;
		h2 {
			text-align: center;
			margin: 0px auto;
			;
			font-size: 45px;
			width: 100%;
		}
		svg {
			width: 100px;
			margin: auto;
			.error {
				fill: $pink;
			}
		}
	}
}
